<%- include ('partials/header') %>

<div class="container">

<div class="container d-flex justify-content-center">
<h1 class="border border-primary rounded">Register</h1>
</div>

<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="#">New Registration</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/list">List of Registrations</a>
    </li>
</ul>

<form action="/list/new" method="POST">
    <label>
        Name
        <input type="text" name="name" placeholder="John Smith" required>
    </label>
    
    <label>
        Email
        <input type="email" name="email" placeholder="john.smith@paniclobster.com" required>
    </label>
    
    <label>
        Birthdate
        <input type="date" name="birthdate" required>
    </label>

    <label>
        CPF
        <input type="text" id="cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}|\d{11}" name="CPF" placeholder="000.000.000-00" required>
    </label>

    <select name="state" id="state" onchange="changeCities()" required>
        <% states.forEach(function(state) {%>
        <option> <%= state.Estado %> </option>
        <% }); %>
    </select>
    
    <select name="city" required>
        <% cities.forEach(function(city) {
            if (city.UF == 'RO') { %> 
            <option> <%= city.Município %> </option> 
        <% }}); %>
    </select>
    
    <label>
        Github
        <input type="url" name="github" placeholder="https://github.com/johnsmith" required>
    </label>
    
    <button class="btn btn-primary">Save</button>
</form>
</div>

<script>
    var cities = <%- JSON.stringify(cities) %>;
    var states = <%- JSON.stringify(states) %>
</script>

<%- include('partials/footer') %>