<%- include ('partials/header') %>

<div class="container">

<div class="container d-flex justify-content-center m-5 jumbotron">
<h1 class="display-4">Register</h1>
</div>

<ul class="nav nav-pills m-3">
    <li class="nav-item">
      <a class="nav-link active" href="#">New Registration</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/list">List of Registrations</a>
    </li>
</ul>

<!-- FORM -->
<form action="/list/new" method="POST">
    
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputName"> Name </label>
            <input id="inputName" class="form-control" type="text" name="name" placeholder="John Smith" maxlength="50" required>
        </div>
        
        <div class="form-group col-md-6">
            <label for="inputEmail"> Email </label>
            <input id="inputEmail" class="form-control" type="email" name="email" placeholder="john.smith@paniclobster.com" maxlength="50" required>
        </div>
    </div>
    
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputBirthdate"> Birthdate </label>
            <input id="inputBirthdate" class="form-control" type="date" name="birthdate" required>
        </div>

        <div class="form-group col-md-6">
            <label for="inputCPF"> CPF </label>
            <input id="inputCPF" class="form-control" type="text" id="cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}|\d{11}" name="cpf" placeholder="000.000.000-00" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="state"> State </label>
            <select id="state" class="form-control" name="state" onchange="changeCities()">
                <!-- Sorting States by Estado attribute in Alphabetical Order -->
                <% states.sort((a, b) => (a.Estado > b.Estado) ? 1 : -1).forEach(function(state) {%>
                <option> <%= state.Estado %> </option>
                <% }); %>
            </select>
        </div>

        <div class="form-group col-md-6">
            <label for="city"> City </label>
            <select id="city" class="form-control" name="city">
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputGithub"> Github </label>
            <input id="inputGithub" class="form-control" type="url" name="github" placeholder="https://github.com/johnsmith">
        </div>
    </div>

    <button class="btn btn-primary">Save</button>
</form>
</div>

<script>
    var cities = <%- JSON.stringify(cities) %>;
    var states = <%- JSON.stringify(states) %>
</script>

<%- include('partials/footer') %>