<%- include ('partials/header') %>

<h1>Landing Page!</h1>

<form action="/list/new" method="POST">
    <label>
        Name
        <input type="text" name="name" placeholder="Ex: John Smith" required>
    </label>
    
    <label>
        Email
        <input type="email" name="email" placeholder="Ex: john.smith@paniclobster.com" required>
    </label>
    
    <label>
        Birthdate
        <input type="date" name="birthdate" required>
    </label>

    <label>
        CPF
        <input type="number" minlength="11" maxlength="11" name="CPF" placeholder="000.000.000-00" required>
    </label>
    
    <select name="state" id="state" onchange="changeCities()" required>
        <% states.forEach(function(state) {%>
        <option> <%= state.Estado %> </option>
        <% }); %>  >
    </select>
    
    <select name="city" required>
        <option>Curitiba</option>
        <option>Rio de Janeiro</option>
        <option>Fortaleza</option>
        <option>Campo Largo</option>
    </select>
    
    <label>
        Github
        <input type="url" name="github" required>
    </label>
    
    <button>Save</button>
</form>

<%  var cidades = []
    cities.forEach(function(city){
        cidades.push(city);
}) %>

<script>
    var cities = <%- JSON.stringify(cities) %>;
    var states = <%- JSON.stringify(states) %>
</script>

<%- include('partials/footer') %>